extends ../templates/pagesTemplate.pug

block body
  h1.name Tony Santos
  p.desc 
    span.desc-text Design Technologist, UX Leader in 
    img.desc-emoji(src='img/cloudy.png' alt="overcast") 
    span.desc-text Seattle, WA
  div.featured-block
    div.feature-card
      h2.card-title feature 1
      p.card-desc.
        This is an interesting project from the portfolio, woo!
    div.feature-card
      h2.card-title feature 2
      p.card-desc.
        This is an interesting project from the playground, woo!
  div.portfolio-block
    div.feature-card
      h2.card-title portfolio 1
      p.card-desc.
        This is an interesting project from the portfolio, woo!
    div.feature-card
      h2.card-title portfolio 2
      p.card-desc.
        This is an interesting project from the portfolio, woo!
    div.feature-card
      h2.card-title portfolio 3
      p.card-desc.
        This is an interesting project from the portfolio, woo!