extends ../templates/pagesTemplate.pug

block body
  h1.name Tony Santos: Design Technologist, UX Leader, and Interaction Designer in Seattle, WA
  div.featured-block
    a.feature-card.portfolio-feature(href='#')
      h2.card-title Sandwich UI
      p.card-desc.
        A design system to enable a small team to quickly make consistant, quality UIs for the Simppler web applications.
      p.card-action Read the case study
    a.feature-card.playground-feature(href='#')
      h2.card-title feature 2
      p.card-desc.
        This is an interesting project from the playground, woo!
  div.portfolio-block
    a.feature-card.portfolio-feature(href='#')
      h2.card-title portfolio 1
      p.card-desc.
        This is an interesting project from the portfolio, woo!
    a.feature-card.portfolio-feature(href='#')
      h2.card-title portfolio 2
      p.card-desc.
        This is an interesting project from the portfolio, woo!
    a.feature-card.portfolio-feature(href='#')
      h2.card-title portfolio 3
      p.card-desc.
        This is an interesting project from the portfolio, woo!