<nav class="fixed-top-nav">
  <a href="/" class="site-title title-link">Tony Santos</a>
  <button class="fixed-nav-toggle">menu</button>
  <ul class="fixed-nav-list">
  {% for item in menuToRender %}
    <li><a href="/{{item}}/">{{ item | replace: "-", " " | capitalize }}</a></li>
  {% endfor %}
  </ul>
</nav>