<footer>
  <div>
    <p>
      <small>&copy;2019 Tony Santos. All rights reserved.</small>
    </p>
  </div>
  <ul class="contact-list">
    <!-- the email "link" should function as a copy button? Should have a copy button? -->
    <li><a href="mailto:tony@notjustprettypictures.com">tony@notjustprettypictures.com</a></li>
    <li><a href="https://twitter.com/tsmuse">twitter</a></li>
    <li><a href="https://linkedin.com/in/notjustprettypictures">linkedin</a></li>
    <li><a href="https://github.com/tsmuse">github</a></li>
  </ul>
</footer>