<footer>
  <div>
    <p>
      Thanks for stopping by. Wanna chat? Here's where to find me:
    </p>
    <p>
      <small>&copy;2019 Tony Santos. All rights reserved.</small>
    </p>
  </div>
  <ul class="contact-list">
    <!-- the email "link" should function as a copy button? Should have a copy button? -->
    <li><a href="#" class="email">tony <small>[at]</small> notjustprettypictures <small>[dot]</small>
        com</a></li>
    <li><a href="https://twitter.com/tsmuse">twitter</a></li>
    <li><a href="https://linkedin.com/in/notjustprettypictures">linkedin</a></li>
    <li><a href="https://github.com/tsmuse">github</a></li>
  </ul>
</footer>