<nav>
  <p class="site-title">Tony Santos</p>
  <ul class="landing-nav-list">
    <li><a href="/portfolio/">IC Projects</a></li>
    <li><a href="playground/">Playground Projects</a></li>
    <li><a href="/words-i-said/">Words I've Said</a></li>
    <li><a href="code-like-a-designer/">Code like a Designer</a></li>
    <!-- <li><a href="humane-systems/">Humane Systems</a></li> -->
    <!-- <li><a href="about.html">About me</a></li> -->
  </ul>
</nav>