<button class="main-nav-toggle">menu</button>
<ul class="main-nav-list">
  <li><a href="/portfolio/">Portfolio</a></li>
  <li><a href="/words-i-said/">Words I've Said</a></li>
  <li><a href="playground/">Playground</a></li>
  <li><a href="code-like-a-designer/">Code like a Designer</a></li>
  <li><a href="humane-systems/">Humane Systems</a></li>
  <li><a href="about.html">About me</a></li>
</ul>
