body {
  font-family: mr-eaves-modern, sans-serif;
  font-weight: $book-type;
  font-size: 16px;
  line-height: 1.75;
  color: $dark;

  .wf-active & {
    font-size: 19px;
    line-height: 1.5;
  }
}

a {
  text-decoration: none;
  color: $dark;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: inset 0 -0.1rem 0 $link-color;
  &:hover{
    box-shadow: $link-hover-shadow;
  }
  &:visited {
    color: #444;
  }
}

footer {
  background-color: transparentize($dark, 0.05);
  color: $pale;
  padding: 2rem;
  display: flex;

  div {
    flex: 1;
    padding: 0 2rem;
    height: 100%;
  }
  .contact-list {
    flex: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    li {
      margin-right: 1rem;

      &:last-of-type{
        margin-right: 0;
      }
    }
    a {
      color: $pale;
    }
  }
}