body {
  font-family: Work Sans, sans-serif;
  font-weight: $book-type;
  font-size: 16px;
  line-height: 1.75;
  color: $dark;
}

a {
  text-decoration: none;
  color: $dark;
  transition: $link-hover-transition;
  box-shadow: $link-underline-shadow;
  &:hover{
    box-shadow: $link-hover-shadow;
  }
  
}

a.title-link {
  box-shadow: none;
  &:hover{
    box-shadow: none;
  }
  &:visited {
    color: $dark;
  }
}

footer {
  background-color: transparentize($dark, 0.05);
  color: $pale;
  padding: 1rem 2rem;
  display: flex;
  flex-flow: column nowrap;

  @media screen and (min-width: 1000px){
    flex-flow: row nowrap;
  }

  div {
    flex: 1;
    padding: 0;
    height: 100%;
  }

  .contact-list {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    
    @media screen and (min-width: 1000px) {
     justify-content: flex-end;
    }


    li {
      margin-right: 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
    a {
      color: $pale;
    }
  }
}

.big-headline {
  display: block;
  width: 100%;
  font-size: 3.5rem;
  line-height: 1;
  font-weight: $bold-type;
  padding: 0 1rem;
  @media screen and (min-width: 768px) {
    font-size: 7rem;
    padding: 0 2rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: 8.5rem;
  }
}

.section-title {
  font-weight: $light-type;
  font-size: 1.2rem;
  letter-spacing: 1rem;
  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
    letter-spacing: 1.1rem;
  }
}

.classy-list {
  list-style: none;

  a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0.5rem 1rem 1rem;
    box-shadow: none;      
    @media screen and (min-width: 768px) {
      padding: 1rem 2rem 1.5rem;
    }
  
    &:hover {
      
      h3 {
        box-shadow: $link-hover-shadow;
      }
    }

    h3 {
      width: max-content;
      font-size: 2rem;
      line-height: 1;
      box-shadow: $link-underline-shadow;
      transition: $link-hover-transition;
      margin-bottom: 0.75rem;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.4;
      max-width: 84ch;
    }
  }
}