body {
  font-family: Work Sans, sans-serif;
  font-weight: $book-type;
  font-size: 16px;
  line-height: 1.75;
  color: $dark;
}

a {
  text-decoration: none;
  color: $dark;
  transition: $link-hover-transition;
  box-shadow: $link-underline-shadow;
  &:hover{
    box-shadow: $link-hover-shadow;
  }
  
}

a.title-link {
  box-shadow: none;
  &:hover{
    box-shadow: none;
  }
  &:visited {
    color: $dark;
  }
}

footer {
  background-color: transparentize($dark, 0.05);
  color: $pale;
  padding: 1rem 2rem;
  display: flex;
  flex-flow: column nowrap;

  @media screen and (min-width: 1000px){
    flex-flow: row nowrap;
  }

  div {
    flex: 1;
    padding: 0;
    height: 100%;
  }

  .contact-list {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    
    @media screen and (min-width: 1000px) {
     justify-content: flex-end;
    }


    li {
      margin-right: 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
    a {
      color: $pale;
    }
  }
}