
// this seems likely to be a broader component, maybe...


.case-summary-main {
  padding-top: $fixed-menu-bar-height; 
  @media screen and (min-width: 1024px) {
    padding-top: 0;
  }
}

$shape-height: 280px;
.case-summary-title {
  background-color: $pale-accent;
  height: $shape-height;
  width: 100%;
  clip-path: polygon(0 0, 0 $shape-height *0.7, 50% $shape-height * 0.45, 60% 0 );
  shape-outside: polygon(0 0, 0 calc(#{$shape-height}* 0.7 + 1.5rem), 50% calc(#{$shape-height} * 0.45 + 1.5rem), calc(60% + 1rem) 0 );
  z-index: 5;
  padding: 0 1.5rem 1.5rem;
  float: left;

  h1 {
    font-size: 2.5rem;
    width: 50%;
    line-height: 1.3;
  }
}

.case-summary-image {
  margin-top: 0;
  margin-bottom: 1rem;
  width: 100%;
  display: inline-block;
  border: 0.5rem solid $pale-accent;
  @media screen and (min-width: 768px) {
    width: auto;
    margin-bottom: 2rem;
    border: 0.5rem solid $pale-accent;
  }
  
  
  &-left {
    margin-right: 0;
    
    float: none;
    @media screen and (min-width: 768px) {
      margin-right: 1.5rem;
      margin-bottom: 0.5rem;
      float: left;
      // box-shadow: -0.5rem 0.5rem 0 $pale;
    }
  }
  &-right {
    margin-left: 0;
    
    float: none;
    @media screen and (min-width: 768px) {
      margin-left: 1.5rem;
      margin-bottom: 0.5rem;
      float: right;
      // box-shadow: 0.5rem 0.5rem 0 $pale;
    }
  }
}

.see-more-cta {
  width: calc(100% - 1.5rem);
  height: 11rem;
  max-width: 84ch;
  background-repeat: no-repeat;
  margin: 0 0 1.5rem 1rem;
  padding: 1rem;
  background-image: linear-gradient(
      to right, 
      $pale-accent 11rem, 
      #fff 11rem, 
      #fff 100%
    );
  @media screen and (min-width: 768px) {
    height: 15rem;
    margin: 0 auto 1.5rem;
    background-image: linear-gradient(
      to right, 
      $pale-accent 15rem, 
      #fff 15rem, 
      #fff 100%
    );
    padding: 3rem 2rem;
  }
  
  h2 {
    font-size: 2.2rem;
    @media screen and (min-width: 768px) {
      font-size: 3rem;
    }
  }

  .email {
    font-weight: $bold-type;
  }
}

.case-summary-content {
  // padding: 1rem 2rem 2rem;
  padding: 1rem;
  width: 100%;
  @media screen and (min-width: 768px) {
    padding: 2rem;
    
    max-width: 84ch;
    margin: 0 auto;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 0;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    @media screen and (min-width: 768px) {
      font-size: 3.2rem;
      line-height: 1.3;
      margin-bottom: 1.5rem;
    }
  }

  h2 {
    font-size: 1.75rem;
    line-height: 1.25;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.3;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }
  blockquote p {
    font-style: italic;
    font-size: 1.15rem;
    padding: 1rem 3rem;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding: 0 1.5rem;
    @media screen and (min-width: 768px) {
      padding: 0 2rem;
    }

    li {
      font-size: 1.1rem;
    }
  }

  ul {
    list-style: square;
  }
}

.list-clear {
  // fix for: bullets don't get pushed out by floated margins correctly
    clear: left; 
}


