$nav-bar-height: 70px;
.case-summary-header {
  position: fixed;
  height: $nav-bar-height;
  width: 100%;
  background-color: $pale-accent;
  z-index: 10;
  nav {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 1rem;

    .site-title {
      flex: 2 0 auto;
    }

    .main-nav-list {
      flex: 1 0 auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      
      li {
        margin-right: 0.5rem;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.case-summary-main {
  padding-top: $nav-bar-height; 
}

$shape-height: 300px;
.case-summary-title {
  background-color: $pale-accent;
  height: $shape-height;
  width: 100%;
  clip-path: polygon(0 0, 0 $shape-height, 100% 0);
  shape-outside: polygon(0 0, 0 calc(#{$shape-height} + 1.5rem), 100% 1.5rem, 100% 0);  
  z-index: 5;
  padding: 1.5rem;
  float: left;

  h1 {
    font-size: 2.5rem;
    width: 50%;
    line-height: 1.3;
  }
}

.case-summary-content {
  padding: 6.5rem 2rem 2rem;
  width: 100%;
  max-width: 84ch;
  margin: 0 auto;
}



