
.direct-portfolio {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;

  @media screen and (min-width: 731px) {
    display: grid;
    grid-template-columns: 2.75fr 3fr;
    grid-template-rows: 75px auto 70px;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: 31vw 3fr;
    grid-template-rows: 75px auto 70px;
    background-image: linear-gradient(
      to right,
      #fff 31vw,
      $col-grad-color 31vw,
      $col-grad-color 54vw,
      $pale 54vw,
      $pale 77vw,
      $col-grad-color 77vw
    );
  }
  .top-nav {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .sidebar {
    flex: 2;
    padding: 1rem 2.5rem;
    padding-top: $fixed-menu-bar-height;
    
    @media screen and (min-width: 731px) {
      min-width: 425px;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding: 1rem 2.5rem;
    }
    @media screen and (min-width: 1024px) {
      min-width: 335px;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding: 1rem 2.5rem;
    }

    h1 {
      font-size: 2.5rem;
      @media screen and (min-width: 1200px) {
        font-size: 3.5rem;
      }
    } 

    p {
      margin-bottom: 0.75rem;
    }
  }
  
  .content {
    flex: 1;

    @media screen and (min-width: 731px) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    
    .portfolio-items {
      width: 100%; 

      @media screen and (min-width: 731px) {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
      }
      @media screen and (min-width: 1024px) {
        flex-flow: row nowrap;
        
      }

      li {
        flex: 1 0 23vw;
        display: flex;
        flex-flow: column nowrap;

        &:nth-of-type(2n+1) a {
          background-color: $col-grad-color;
        }

        @media screen and (min-width: 1024px){
          background-color: transparent;
        }
        
      }

      li h2 {
        font-weight: $light-type;
        font-size: 2.5rem;
      }

      li a {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 4rem 2rem;
        box-shadow: none; //override site-wide style
        background-color: $pale;
        transition: background 0.2s ease-in-out;

        @media screen and (min-width: 731px) {
          padding: 2rem 1.5rem;
        }
        @media screen and (min-width: 1024px) {
          background-color: transparent;
        }
        &:hover {
          background: lighten($pale-accent, 10%);
      
          h2 {
            // color: lighten($dark, 35%);
            color: $contrast-accent;
          }
        }
      }
    }
  }

  footer {
    flex: 0 0 100px;

    @media screen and (min-width: 731px) {
      grid-column: 1 / 3;
      grid-row: 3 / 4;  
    }
  }
}