.home-container {
  // background: $pale-accent;
  
  article {
    padding-top: calc(#{$fixed-menu-bar-height} + 2rem);
    padding-bottom: 3rem;
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1024px) {
      padding-top: 2rem;
      padding-bottom: 4rem;
    }
    
    p {
      width: 100%;
      margin: 0 auto 1.5rem;
      font-size: 1.6rem;
      line-height: 1.3;
      padding: 0 1rem;

      @media screen and (min-width: 768px) {
        font-size: 2.75rem;
        line-height: 1.3;
        padding: 0 2rem;
        max-width: 36ch;
      }
      @media screen and (min-width: 1024px) {
        font-size: 4rem;
        line-height: 1.3;
        padding: 0 5rem;
        max-width: 36ch;
      }

      &:last-of-type {
        margin-bottom: 0;
       
      }
    }
  }
}

.highlights {
    font-style: normal;
    padding: 0;
    background-image: 
      linear-gradient(
        -80deg, #fff 0.5rem, 
        transparent 0.5rem, 
        transparent calc(100% - 0.5rem), 
        #fff calc(100% - 0.5rem)), 
      linear-gradient(
        to bottom,
        #fff 5%,
        $pale-accent 5%,
        $pale-accent 95%,
        #fff 95%
      );
    @media screen and (min-width: 768px) {
      background-image: 
      linear-gradient(
        -80deg, #fff 0.75rem, 
        transparent 0.75rem, 
        transparent calc(100% - 0.75rem), 
        #fff calc(100% - 0.75rem)), 
      linear-gradient(
        to bottom,
        #fff 5%,
        $pale-accent 5%,
        $pale-accent 95%,
        #fff 95%
      );
    }
    
    // clip-path: polygon(
    //   2% 0,
    //   100% 0,
    //   98% 100%,
    //   0 100%
    // );
  }