.site-title {
  font-size: 2rem;
}

.fixed-nav-list {
  display: flex;
  flex-flow: column nowrap;
  background: $pale;
  height: 100vh;
  width: 90vw;
  max-width: 400px;
  position: absolute;
  top: $fixed-menu-bar-height;
  left: -100vw;
  transition: left 0.4s ease-out;
  padding: 2rem;
  
  &.open {
    left: 0;

  }

  @media screen and (min-width: 930px){
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    height: auto;
    width: auto;
    max-width: unset;
    position: static;
    transition: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 0.5rem;

    &:last-of-type {
      margin-bottom: 0;
    }
    
    @media screen and (min-width: 930px){
      margin-right: 0.5rem;
      margin-bottom: 0;
      

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.fixed-nav-toggle {
  display: inline-block;
  background: transparent;
  font-size: 1.2rem;
  border: 1px solid $dark;
  @media screen and (min-width: 930px){
    display: none;
  }
}

// fixed top nav
.fixed-top-nav {
  position: fixed;
  height: $fixed-menu-bar-height;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 1rem;
  align-items: center;

  .site-title {
    flex: 2 0 auto;
  }

  .main-nav-list {
    flex: 1 0 auto;
  }
}

.fixed-top-nav { 
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
.floating-nav {
  display: none;
  @media screen and (min-width: 1024px) {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  padding: 1rem 2rem 0; 
  margin-bottom: 2rem;

  .site-title {
    flex: 0 0 auto;
    padding-right: 1.5rem;
  }
  .floating-nav-list {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    li {
      margin-right: 0.75rem;

      &:last-of-type{
        margin-right: 0;
      }
    }

    a {
      color: $dark;
      box-shadow: inset 0 0 0 #ccc;
      &:hover{
        box-shadow: $link-hover-shadow;
      }
    }
  }
}