.portfolio-container {
  min-height: 100vh;
  
  article {
    padding-top: $fixed-menu-bar-height;
    @media screen and (min-width: 1024px) {
      padding-top: 0;
    }
  }
  .fixed-top-nav {
    
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
  .floating-nav {
    display: none;
    @media screen and (min-width: 1024px) {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    padding: 1rem 2rem 0; 
    margin-bottom: 2rem;

    .site-title {
      flex: 1;
    }
    .floating-nav-list {
      flex: 1.5;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;

      li {
        margin-right: 0.75rem;

        &:last-of-type{
          margin-right: 0;
        }
      }

      a {
        color: $dark;
        box-shadow: inset 0 0 0 #ccc;
        &:hover{
          box-shadow: $link-hover-shadow;
        }
      }
    }
  }
  
  h1 {
    display: block;
    width: 100%;
    font-size: 4rem;
    line-height: 1;
    font-weight: $light-type;
    font-weight: $bold-type;
    padding: 0 1rem;
    @media screen and (min-width: 768px) {
      font-size: 8.5rem;
      padding: 0 2rem;
    }
    
  }
 
  .leadership,
  .individual {
    padding: 1rem 1rem 2rem;
    @media screen and (min-width: 768px) {
      padding: 2rem 2rem 4rem 2.5rem;
    }
    h2 {
      font-weight: $light-type;
      font-size: 1.2rem;
      letter-spacing: 1rem;
      @media screen and (min-width: 768px) {
        font-size: 1.5rem;
        letter-spacing: 1.1rem;
      }
    }

    a {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding: 0.5rem 1rem 1rem;
      box-shadow: none;      
      @media screen and (min-width: 768px) {
        padding: 1rem 2rem 1.5rem;
      }
      
      
      &:hover {
        
        h3 {
          box-shadow: $link-hover-shadow;
        }
      }

      h3 {
        width: max-content;
        font-size: 2rem;
        line-height: 1;
        box-shadow: $link-underline-shadow;
        transition: $link-hover-transition;
        margin-bottom: 0.75rem;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.4;
        max-width: 84ch;
      }
    }
  }

  .individual {
    background-color: $pale;
  }
}
