.portfolio-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 12rem 12rem auto 70px;

  .floating-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    padding: 1rem 2rem 0; 

    .site-title {
      flex: 1;
    }
    .floating-nav-list {
      flex: 1;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;

      li {
        margin-right: 0.75rem;

        &:last-of-type{
          margin-right: 0;
        }
      }

      a {
        color: $dark;
        box-shadow: inset 0 0 0 #ccc;
        &:hover{
          box-shadow: $link-hover-shadow;
        }
      }
    }
  }
  
  h1 {
    display: block;
    width: 100%;
    font-size: 7rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2rem;
    font-weight: $light-type;

    grid-column: 2 / 7;
    grid-row: 2 / 3;
  }

  .rule-extender {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    display: grid;
    grid-template-rows: 3rem auto;

    .rule-gap-fill {
      grid-row: 1 / 2;
    }
  }
  .leadership,
  .individual {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3rem auto;

    h2 {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      font-weight: $light-type;
      line-height: 1.5;
      font-size: 1.5rem;
      letter-spacing: 1.1rem;
    }

    a {
      padding: 1rem 0.5rem 0;
      box-shadow: none;
    }
  }
  .leadership h2,
  .individual h2,
  .rule-extender .rule-gap-fill {
    border-top: 3px dotted $pale;
    border-bottom: 3px dotted $pale;
  }
  .leadership {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    padding-left: 2rem;
  }

  .individual {
    grid-column: 5 / 8;
    grid-row: 3 / 4;
    padding-right: 2rem;

    h2 {
      text-align: right;
    }
  }

}
