.portfolio-container {
  min-height: 100vh;
  
  article {
    padding-top: $fixed-menu-bar-height;
    @media screen and (min-width: 1024px) {
      padding-top: 0;
    }
  }
  
  .leadership,
  .individual {
    padding: 1rem 1rem 2rem;
    @media screen and (min-width: 768px) {
      padding: 2rem 2rem 4rem 2.5rem;
    }
  }

  .individual {
    background-color: $pale;
  }
}
