.words-index {
  .section-title,
  .post-list {
    padding: 0 1rem;
    @media screen and (min-width: 768px) {
      padding: 0 2.5rem;
    }
  }

  .classy-list {
    padding: 0 1rem;
    @media screen and (min-width: 768px) {
      padding: 0 2rem 0 2.5rem;
    }

    a h3 {
      width: -moz-fit-content;
      width: -webkit-fit-content;
      width: fit-content;
      line-height: 1.2;
      // @media screen and (min-width: 768px) {
      //   width: fit-content;
      // }
    }
  }
  .big-headline {
    margin-bottom: 2rem;
    padding-top: calc(#{$fixed-menu-bar-height} + 1rem);

    @media screen and (min-width: 1024px){
      padding-top: 0;
    }
  }
}