.words-index {
  .section-title,
  .post-list {
    padding: 0 1rem;
    @media screen and (min-width: 768px) {
      padding: 0 2.5rem;
    }
  }

  .classy-list {
    padding: 0 1rem;
    @media screen and (min-width: 768px) {
      padding: 0 2rem 0 2.5rem;
    }
  }
  .big-headline {
    margin-bottom: 2rem;
  }
}