@import 'normalize.css';
// @import '../fonts/source-sans-pro/source-sans-pro.css';

$black: #2a3225;
$light-blue: #aec3de;
$cyan: #0099ff;
$purple: #603aca;
$green: #28ac33;
$orange: #d5494c;
$pink: #e228e2;
$yellow: #df8e33;
$light-yellow: #f9fc75;
$white: #d8e2ee;

$link-highlight: lighten($purple, 25%);;

* {
  box-sizing: border-box;
}
body {
  // font-family: 'Source Sans Pro';
  font-family: raleway, sans-serif;
  font-size: 16px;
  // background-color: $white;
  background-color: $light-blue;
  color: $black;
  transition: background ease-in 200ms;

  &.unfocused {
    background-color: $white;
  }
} 

.topnav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding: 2rem 2.5rem;
  margin-bottom: 2rem;

  &-link {
    flex: 0 0 auto;
    margin-right: 1.25rem;
    padding: 0.25rem;
    
    &:hover {
      background: linear-gradient($link-highlight, $link-highlight);
      background-size: 100% 30%;
      background-position-y: 90%;
      background-repeat: no-repeat;

      a {
        color: $cyan;
      }
    }
    a {
      font-size: 1.1rem;
      text-decoration: none;
      color: $black;
    }

    &:last-of-type {
      margin-right: 0;
    }
  } 
}

.name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.9rem;
  font-weight: 900;
  width: 70vw;
  
}


$block-gutter: 1rem;

.feature-card {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  font-weight: 100;
  letter-spacing: 0.75px;
  line-height: 1.3rem;
  
  
  .card-title {
    font-weight: 700;
    margin: 0;
    
  }
  .card-desc {
    font-weight: 400;
    line-height: 1.5rem;
  }
  .card-title,
  .card-desc,
  .action-link {
    transition: color ease-in-out 400ms;
  }

  .card-action {
    display: flex;
    justify-content: end;

    .action-link {
      flex: 0 0 auto;
    }
  }

  &:hover {
   .card-action .action-link{
    background: linear-gradient($link-highlight, $link-highlight);
    background-size: 100% 30%;
    background-position-y: 90%;
    background-repeat: no-repeat;
   } 
  }
}
.featured-block {
  display: flex;
  flex-flow: row nowrap;
  width: 70vw;
  margin: 0 auto 4rem;

  .feature-card {
    flex: 1 0 calc(50% - #{$block-gutter});
    padding: 5rem 2.5rem 3rem;
    transition: background ease-in 200ms;

    &:first-of-type {
      margin-right: $block-gutter;
    }

    .card-title {
      font-size: 1.8rem;
    }
    .card-desc {
      margin-bottom: 3rem;
    }

    .card-action {
      font-weight: 400;
      letter-spacing: 1.5px;
      font-size: 1.1rem;
    }

    &:hover {
     
    }
  }

  .portfolio-feature {
    border-color: $cyan;
    background-image: linear-gradient(45deg, transparent 10%, lighten($cyan, 10%));
    background-color: $cyan;
    
    .card-title,
    .card-desc,
    .action-link {
      color: darken($cyan, 30%);
    }
    
    &:hover {

      .card-action .action-link{
        color: $white;
        background-image: linear-gradient(lighten($cyan, 15%), lighten($cyan, 15%));
      }
      .card-title,
      .card-desc {
        color: $white;
      }
    }
  }

  .playground-feature {
   border-color: $orange;
    background-image: linear-gradient(45deg, transparent 10%, lighten($orange, 7%));
    background-color: $orange;
    
    .card-title,
    .card-desc,
    .action-link {
      color: darken($orange, 30%);
    }
    
    &:hover {

      .card-action .action-link{
        color: $white;
        background-image: linear-gradient(lighten($orange, 15%), lighten($orange, 15%));
      }
      .card-title,
      .card-desc {
        color: $white;
      }
    }
  }
}

.portfolio-block {
  display: flex;
  flex-flow: row wrap;
  width: 70vw;
  margin: 0 auto;

  .feature-card {
    flex: 1 0 calc(33% - #{$block-gutter});
    padding: 1.5rem;
    &:nth-of-type(3n+1),
    &:nth-of-type(3n+2) {
      margin-right: $block-gutter;
    }
  }
  .portfolio-feature {
      background: $purple;

      .card-title {
        color: $white;
        font-size: 1.3rem;
      }
      .card-desc {
        color: $white;
      }
    }
}