@import 'normalize.css';

* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
} 

.topnav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding: 2rem 2.5rem;

  &-link {
    flex: 0 0 auto;
    margin-right: 1.25rem;
    
    a {
      font-size: 1.2rem;
    }

    &:last-of-type {
      margin-right: 0;
    }
  } 
}

.name, 
.desc {
  text-align: center;
  margin-top: 0;
}

.name {
  margin-bottom: 0.5rem;
}

.desc {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &-emoji {
    flex: 0 0 auto;
    display: inline-block;
    padding: 0 2px;
    height: 2rem;
  }

  &-text {
    flex: 0 0 auto;
  }
}

$block-gutter: 1rem;
.feature-card {
  border: 1px solid #666;
  padding: 1rem;

}
.featured-block {
  display: flex;
  flex-flow: row nowrap;
  width: 70vw;
  margin: 0 auto 4rem;

  .feature-card {
    flex: 1 0 calc(50% - #{$block-gutter});

    &:first-of-type {
      margin-right: $block-gutter;
    }
  }
}

.portfolio-block {
  display: flex;
  flex-flow: row wrap;
  width: 70vw;
  margin: 0 auto;

  .feature-card {
    flex: 1 0 calc(33% - #{$block-gutter});
    &:nth-of-type(3n+1),
    &:nth-of-type(3n+2) {
      margin-right: $block-gutter;
    }
  }
}