---
layout: layouts/base
---
<div class="portfolio-container">
  {% include main_nav %}
  <h1>Portfolios</h1>
  <section class="leadership">
    <h2>Leadership</h2>
    <p>
      Leading a design team is a different set of challenges from being a designer. This portfolio includes case studies of the design teams I lead at T-Mobile, Mozilla, and Simppler
    </p>
  </section>
  <section class="individual">
    <h2>Individual</h2>
    <p>
      Hands-on, stuff I designed and/or built. This portfolio includes case studies for my individual contribution to projects.
    </p>
  </section>
</div>