<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="The portfolio of Tony Santos, Interaction Designer.">
  <meta name="keywords"
    content="Tony Santos, Design, Product design, Product designer, Digital product design, Digital product designer, Interaction design, Interaction designer, Design Technologist, UX Engineer, Design direction, Design director, Product management, Product design Seattle, UX, UX design, UX manager, UX director, Web design, Web development,">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title | default: "Tony Santos, designer"}} &mdash; notjustprettypictures.com</title>
  <link rel="icon" type="image/png" href="/shaka.png">
  <link href="/css/njpp.css" type="text/css" rel="stylesheet" />
</head>
<body>
  {{content}}
</body>
<script src="/js/njpp.js" type="text/javascript"></script>
</html>