---
layout: layouts/base
---
{% include top-nav, menuToRender: menus.main %}
<main class="case-summary-main">
  <article class="case-summary-article">
    <!-- <section class="case-summary-title">
      <h1>{{title}}</h1>
    </section> -->
    <section class="case-summary-content">
      {{content}}
    </section>
    <section class="see-more-cta">
      <h2>Wanna see more?</h2>
      <p>
        This is just a summary of this project. If you want to hear the whole story, get in touch! 
        <span class="email">tony@notjustprettypictures.com</span>
      </p>
    </section>
  </article>
</main>
{% include footer %}
