---
layout: layouts/base
---
<header class="case-summary-header">
  <nav>
    <a href="/" class="site-title title-link">Tony Santos</a>
    {% include main_nav %}
  </nav>
</header>
<main class="case-summary-main">
  <article class="case-summary-article">
    <section class="case-summary-title">
      <h1>{{title}}</h1>
    </section>
    <section class="case-summary-content">
      {{content}}
    </section>
  </article>
</main>