---
layout: layouts/base
---
{% include top-nav, menuToRender: menus.main %}
<main class="case-summary-main">
  <article class="case-summary-article">
    <section class="case-summary-content">
      {{content}}
    </section>
  </article>
</main>
{% include footer %}
