---
layout: layouts/base
---
<div class="home-content-contaier">
  <header>
    <h1>Tony Santos, Designer</h1>
    {% include main_nav %}
  </header>
  <section class="portfolio-preview">
    <!-- need to bring portfolio content in first -->
  </section>
  <section class="words-recent">
    <h2>Latest words i've said</h2>
    {% assign words_preview = collections.words | reverse | first %}
    {{words_preview.url}}
  </section>
  <section class="playground-recent">
    <h2>Latest playground</h2>
    {% assign playground_preview = collections.playground | reverse | first %}
    {{playground_preview.url}}
  </section>
  <section class="playground-recent">
    <h2>Latest Code Like a Designer</h2>
    {% assign clad_preview = collections.CLAD | reverse | first %}
    {{clad_preview.url}}
  </section>
  <section class="humane-recent">
    <h2>Latest Humane Systems</h2>
    {% assign hs_preview = collections.hs | reverse | first %}
    {{hs_preview.url}}
  </section>
  {% include footer %}
<div>
