---
layout: layouts/base
---
<main class="home-container">
  
  <article>
    <p>
      I՚m an <em class="highlights">interaction designer,</em> 
      <em class="highlights">design technologist,</em> &amp; 
      <em class="highlights">design leader</em> in Seattle, WA. 
    </p>
    <p>
      I՚m a toolmaker striving to enable people with technology. I'm focused
      on <em class="highlights">design systems,</em> 
      <em class="highlights">accessability,</em> and systems that empower people to do 
      more than they would be able to on their own. 
    </p>
    <p>
      Previously, I led design & product efforts at 
      <em class="highlights">RStudio,</em> 
      <em class="highlights">Simppler,</em>
      <em class="highlights">Mozilla,</em> &amp; 
      <em class="highlights">T-Mobile</em> among others.
    </p>
  </article>
</main>
