---
layout: layouts/base
---
<main class="offline">
  <h1> Uh oh, looks like your internet is down.</h1>
  <p>
    <i>Have you tried turning it off and then back on?</i>
  </p>
  <p>
    &hellip;
  </p>
  <p>
    &hellip;
  </p>
  <p>
    &hellip;
  </p>
  <p>    
    Yeah, that's not very helpful, huh? 
  </p>
  <p>
    The good news is you should be able to
    visit all the pages you've visited before without any problem.
  </p>
  
</main>